In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [14]:
df1=pd.read_csv('D:/pythonCode/projects/youtube-adview-prediction/train.csv')

###EDA

In [16]:
df1.head()

,vidid,adview,views,likes,dislikes,comment,published,duration,category
0,VID_18655,40,1031602,8523,363,1095,14-09-2016,PT7M37S,F
1,VID_14135,2,1707,56,2,6,01-10-2016,PT9M30S,D
2,VID_2187,1,2023,25,0,2,02-07-2016,PT2M16S,C
3,VID_23096,6,620860,777,161,153,27-07-2016,PT4M22S,H
4,VID_10175,1,666,1,0,0,29-06-2016,PT31S,D

In [22]:
df1.dtypes

vidid        object
adview        int64
views        object
likes        object
dislikes     object
comment      object
published    object
duration     object
category     object
dtype: object

In [23]:
df1.dtypes.value_counts()

object    8
int64     1
dtype: int64

In [27]:
df1.isnull().sum()

vidid        0
adview       0
views        0
likes        0
dislikes     0
comment      0
published    0
duration     0
category     0
dtype: int64