In [17]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [3]:
df1=pd.read_csv('D:/pythonCode/projects/youtube-adview-prediction/train.csv')

###EDA

In [4]:
df1.head()

,vidid,adview,views,likes,dislikes,comment,published,duration,category
0,VID_18655,40,1031602,8523,363,1095,14-09-2016,PT7M37S,F
1,VID_14135,2,1707,56,2,6,01-10-2016,PT9M30S,D
2,VID_2187,1,2023,25,0,2,02-07-2016,PT2M16S,C
3,VID_23096,6,620860,777,161,153,27-07-2016,PT4M22S,H
4,VID_10175,1,666,1,0,0,29-06-2016,PT31S,D

In [36]:
df1.tail(10)

,vidid,adview,views,likes,dislikes,comment,published,duration,category
14989,VID_20638,22,1204587,10284,379,2016,10-04-2013,PT10H19S,G
14990,VID_11386,15,525829,350,222,0,08-07-2016,PT29M38S,D
14991,VID_2502,1,333336,152,84,0,11-12-2015,PT18M40S,C
14992,VID_11653,1,78021,422,19,14,12-08-2016,PT2M57S,D
14993,VID_13909,11,96816,122,9,11,30-01-2014,PT2M6S,D
14994,VID_31,2,525949,1137,83,86,18-05-2015,PT6M10S,A
14995,VID_5861,1,665673,3849,156,569,20-10-2015,PT3M56S,D
14996,VID_805,4,3479,16,1,1,23-08-2013,PT3M13S,B
14997,VID_19843,1,963,0,0,0,02-10-2010,PT26S,G
14998,VID_8534,1,15212,22,5,4,19-02-2016,PT1M1S,D

In [6]:
df1.dtypes

vidid        object
adview        int64
views        object
likes        object
dislikes     object
comment      object
published    object
duration     object
category     object
dtype: object

In [7]:
df1.dtypes.value_counts()

object    8
int64     1
dtype: int64

In [8]:
df1.isnull().sum()

vidid        0
adview       0
views        0
likes        0
dislikes     0
comment      0
published    0
duration     0
category     0
dtype: int64

In [ ]:
for i in range(len(df1['views'])):
    if df1['views'][i]=='F':
        df1['views'][i]=0

In [18]:
df1['views']=df1['views'].astype(np.int64)

In [ ]:
for i in range(len(df1['likes'])):
    if df1['likes'][i]=='F':
        df1['likes'][i]=0

In [24]:
df1['likes']=df1['likes'].astype(np.int64)

In [ ]:
for i in range(len(df1['dislikes'])):
    if df1['dislikes'][i]=='F':
        df1['dislikes'][i]=0

In [33]:
df1['dislikes']=df1['dislikes'].astype(np.int64)

In [ ]:
for i in range(len(df1['comment'])):
    if df1['comment'][i]=='F':
        df1['comment'][i]=0

In [30]:
df1['comment']=df1['comment'].astype(np.int64)

In [34]:
df1.dtypes

vidid        object
adview        int64
views         int64
likes         int64
dislikes      int64
comment       int64
published    object
duration     object
category     object
dtype: object

In [35]:
df1.describe()

             adview         views          likes      dislikes       comment
count  1.499900e+04  1.499900e+04   14999.000000  14999.000000  14999.000000
mean   2.107791e+03  7.134752e+05    2739.423428    253.969065    400.174145
std    5.237711e+04  2.724531e+06    8851.481213   1023.209567   1494.345713
min    1.000000e+00  0.000000e+00       0.000000      0.000000      0.000000
25%    1.000000e+00  3.120100e+04      83.000000      7.000000      7.000000
50%    2.000000e+00  1.583170e+05     434.000000     37.000000     43.000000
75%    6.000000e+00  5.846100e+05    1815.500000    166.000000    215.000000
max    5.429665e+06  1.380479e+08  283824.000000  49449.000000  75045.000000

In [ ]:
sns.pairplot(df1)