In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [14]:
df1=pd.read_csv('D:/pythonCode/projects/youtube-adview-prediction/train.csv')

###EDA

In [16]:
df1.head()

,vidid,adview,views,likes,dislikes,comment,published,duration,category
0,VID_18655,40,1031602,8523,363,1095,14-09-2016,PT7M37S,F
1,VID_14135,2,1707,56,2,6,01-10-2016,PT9M30S,D
2,VID_2187,1,2023,25,0,2,02-07-2016,PT2M16S,C
3,VID_23096,6,620860,777,161,153,27-07-2016,PT4M22S,H
4,VID_10175,1,666,1,0,0,29-06-2016,PT31S,D

In [58]:
df1.tail()

,vidid,adview,views,likes,dislikes,comment,published,duration,category
14994,VID_31,2,525949,1137,83,86,18-05-2015,PT6M10S,A
14995,VID_5861,1,665673,3849,156,569,20-10-2015,PT3M56S,D
14996,VID_805,4,3479,16,1,1,23-08-2013,PT3M13S,B
14997,VID_19843,1,963,0,0,0,02-10-2010,PT26S,G
14998,VID_8534,1,15212,22,5,4,19-02-2016,PT1M1S,D

In [22]:
df1.dtypes

vidid        object
adview        int64
views        object
likes        object
dislikes     object
comment      object
published    object
duration     object
category     object
dtype: object

In [23]:
df1.dtypes.value_counts()

object    8
int64     1
dtype: int64

In [27]:
df1.isnull().sum()

vidid        0
adview       0
views        0
likes        0
dislikes     0
comment      0
published    0
duration     0
category     0
dtype: int64

In [99]:
for i in range(len(df1['views'])):
    if df1['views'][i]=='F':
        df1['views'][i]=0

C:\Users\Chara\AppData\Local\Temp/ipykernel_1920/1664467777.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['views'][i]=0

In [101]:
for i in range(len(df1['views'])):
    df1['views'][i]=int(float(df1['views'][i]))

C:\Users\Chara\AppData\Local\Temp/ipykernel_1920/959539899.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['views'][i]=int(float(df1['views'][i]))

In [120]:
df1['views']=df1['views'].astype(int)

In [115]:
for i in range(len(df1['views'])):
    if type(df1['views'][i])!=int:
        print(i)

In [113]:
type(df1['views'][14998])

int

In [98]:
df1['views'][7447]

'F'

In [121]:
df1.dtypes

vidid        object
adview        int64
views         int32
likes        object
dislikes     object
comment      object
published    object
duration     object
category     object
dtype: object

In [114]:
df1.describe()

             adview
count  1.499900e+04
mean   2.107791e+03
std    5.237711e+04
min    1.000000e+00
25%    1.000000e+00
50%    2.000000e+00
75%    6.000000e+00
max    5.429665e+06